In [50]:
import pickle
import numpy as np
import pandas as pd
from sklearn.externals import joblib
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_validate

In [51]:
dataset = pd.read_csv('heart.csv')
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [52]:
label = dataset.iloc[:,-1:].values.ravel()
label

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [53]:
feature = dataset.iloc[:,:-1]
feature.values

array([[63.,  1.,  3., ...,  0.,  0.,  1.],
       [37.,  1.,  2., ...,  0.,  0.,  2.],
       [41.,  0.,  1., ...,  2.,  0.,  2.],
       ...,
       [57.,  1.,  0., ...,  1.,  1.,  3.],
       [57.,  0.,  1., ...,  1.,  1.,  2.],
       [56.,  1.,  3., ...,  2.,  2.,  1.]])

In [54]:
X_train, X_test, y_train, y_test = train_test_split(feature, label, test_size=0.3)

In [55]:
print("jumlah data latih : ", len(X_train))
print("jumlah data uji : ", len(X_test))

jumlah data latih :  212
jumlah data uji :  92

In [56]:
knn = KNeighborsClassifier(n_neighbors=9)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=9, p=2,
           weights='uniform')

In [57]:
pred = knn.predict(X_test)
pred

array([0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0], dtype=int64)

In [48]:
cols = {
    'data benar' : y_test,
    'prediksi' : pred,
}
print("hasil")
pd.DataFrame(cols)

hasil

    data benar  prediksi
0            1         1
1            0         0
2            1         1
3            1         0
4            1         1
5            1         1
6            1         0
7            1         1
8            0         0
9            0         1
10           0         0
11           0         1
12           1         1
13           1         1
14           1         0
15           0         0
16           1         0
17           0         1
18           0         0
19           1         0
20           0         0
21           1         1
22           0         0
23           0         0
24           1         1
25           1         1
26           1         0
27           0         0
28           0         1
29           1         0
..         ...       ...
62           0         0
63           0         0
64           1         1
65           0         0
66           1         0
67           1         0
68           0         0
69           1         1
70           1         1
71           0         1
72           1         0
73           0         0
74           1         1
75           0         1
76           0         1
77           0         0
78           0         0
79           0         0
80           1         1
81           1         1
82           1         1
83           1         0
84           0         1
85           1         1
86           0         0
87           1         0
88           0         1
89           1         0
90           1         1
91           0         0

[92 rows x 2 columns]

In [49]:
kfold = KFold(n_splits = 10)
scores = ['accuracy', 'precision', 'recall']
results = cross_validate(knn, X_test, y_test, cv=kfold, scoring=scores, return_train_score=True)
results_data = pd.DataFrame(results)
results_data

,fit_time,score_time,test_accuracy,train_accuracy,test_precision,train_precision,test_recall,train_recall
0,0.002988,0.006992,0.600000,0.670732,0.714286,0.649123,0.714286,0.840909
1,0.000998,0.015453,0.800000,0.695122,0.714286,0.666667,1.000000,0.913043
2,0.006990,0.012002,0.555556,0.650602,0.500000,0.650000,0.750000,0.829787
3,0.001991,0.002992,0.555556,0.759036,0.571429,0.724138,0.800000,0.913043
4,0.001994,0.011019,0.555556,0.746988,0.571429,0.704918,0.800000,0.934783
5,0.002050,0.017618,0.555556,0.710843,0.571429,0.683333,0.800000,0.891304
6,0.001699,0.010348,1.000000,0.662651,1.000000,0.639344,1.000000,0.866667
7,0.000997,0.011966,0.777778,0.710843,0.800000,0.671875,0.800000,0.934783
8,0.002055,0.007508,0.444444,0.722892,0.444444,0.693548,1.000000,0.914894
9,0.001995,0.004752,0.555556,0.698795,0.555556,0.677966,1.000000,0.869565

In [31]:
print("Performance Model KNN")

accuracy = results_data.test_accuracy.mean() * 100
precision = results_data.test_precision.mean() * 100
recall = results_data.test_recall.mean() * 100

print("accuracy : %0.2f" % accuracy,"%")
print("precision : %0.2f" % precision, "%")
print("recall : %0.2f" % recall, "%")

Performance Model KNN
accuracy : 72.89 %
precision : 75.29 %
recall : 85.12 %

In [32]:
print(X_test)

     age   sex   cp   trestbps   chol   fbs   restecg   thalach  exang  \
257   50     1    0        144    200     0         0       126      1
245   48     1    0        124    274     0         0       166      0
202   58     1    0        150    270     0         0       111      1
71    51     1    2         94    227     0         1       154      1
107   45     0    0        138    236     0         0       152      1
242   64     1    0        145    212     0         0       132      0
195   59     1    0        170    326     0         0       140      1
127   67     0    2        152    277     0         1       172      0
259   38     1    3        120    231     0         1       182      1
43    53     0    0        130    264     0         0       143      0
196   46     1    2        150    231     0         1       147      0
178   43     1    0        120    177     0         0       120      1
297   59     1    0        164    176     1         0        90      0
264   54     1    0        110    206     0         0       108      1
238   77     1    0        125    304     0         0       162      1
47    47     1    2        138    257     0         0       156      0
186   60     1    0        130    253     0         1       144      1
145   70     1    1        156    245     0         0       143      0
103   42     1    2        120    240     1         1       194      0
154   39     0    2        138    220     0         1       152      0
95    53     1    0        142    226     0         0       111      1
267   49     1    2        118    149     0         0       126      0
42    45     1    0        104    208     0         0       148      1
11    48     0    2        130    275     0         1       139      0
72    29     1    1        130    204     0         0       202      0
136   60     0    2        120    178     1         1        96      0
0     63     1    3        145    233     1         0       150      0
157   35     1    1        122    192     0         1       174      0
184   50     1    0        150    243     0         0       128      0
116   41     1    2        130    214     0         0       168      0
..   ...   ...  ...        ...    ...   ...       ...       ...    ...
282   59     1    2        126    218     1         1       134      0
214   56     1    0        125    249     1         0       144      1
156   47     1    2        130    253     0         1       179      0
64    58     1    2        140    211     1         0       165      0
70    54     1    2        120    258     0         0       147      0
140   51     0    2        120    295     0         0       157      0
160   56     1    1        120    240     0         1       169      0
279   61     1    0        138    166     0         0       125      1
41    48     1    1        130    245     0         0       180      0
162   41     1    1        120    157     0         1       182      0
143   67     0    0        106    223     0         1       142      0
149   42     1    2        130    180     0         1       150      0
231   57     1    0        165    289     1         0       124      0
18    43     1    0        150    247     0         1       171      0
146   44     0    2        118    242     0         1       149      0
142   42     0    2        120    209     0         1       173      0
244   56     1    0        132    184     0         0       105      1
77    59     1    1        140    221     0         1       164      1
27    51     1    2        110    175     0         1       123      0
73    51     1    0        140    261     0         0       186      1
54    63     0    2        135    252     0         0       172      0
271   61     1    3        134    234     0         1       145      0
13    64     1    3        110    211     0         0       144      1
215   43     0    0        132    341     1         0       136      1
79    58     1    2        105    240     0         0       154      1
20    59     1    0        135    234     0         1       161      0
44    39     1    2        140    321     0         0       182      0
152   64     1    3        170    227     0         0       155      0
219   48     1    0        130    256     1         0       150      1
63    41     1    1        135    203     0         1       132      0

     oldpeak  slope  ca   thal
257      0.9      1   0      3
245      0.5      1   0      3
202      0.8      2   0      3
71       0.0      2   1      3
107      0.2      1   0      2
242      2.0      1   2      1
195      3.4      0   0      3
127      0.0      2   1      2
259      3.8      1   0      3
43       0.4      1   0      2
196      3.6      1   0      2
178      2.5      1   0      3
297      1.0      1   2      1
264      0.0      1   1      2
238      0.0      2   3      2
47       0.0      2   0      2
186      1.4      2   1      3
145      0.0      2   0      2
103      0.8      0   0      3
154      0.0      1   0      2
95       0.0      2   0      3
267      0.8      2   3      2
42       3.0      1   0      2
11       0.2      2   0      2
72       0.0      2   0      2
136      0.0      2   0      2
0        2.3      0   0      1
157      0.0      2   0      2
184      2.6      1   0      3
116      2.0      1   0      2
..       ...    ...  ..    ...
282      2.2      1   1      1
214      1.2      1   1      2
156      0.0      2   0      2
64       0.0      2   0      2
70       0.4      1   0      3
140      0.6      2   0      2
160      0.0      0   0      2
279      3.6      1   1      2
41       0.2      1   0      2
162      0.0      2   0      2
143      0.3      2   2      2
149      0.0      2   0      2
231      1.0      1   3      3
18       1.5      2   0      2
146      0.3      1   1      2
142      0.0      1   0      2
244      2.1      1   1      1
77       0.0      2   0      2
27       0.6      2   0      2
73       0.0      2   0      2
54       0.0      2   0      2
271      2.6      1   2      2
13       1.8      1   0      2
215      3.0      1   0      3
79       0.6      1   0      3
20       0.5      1   0      3
44       0.0      2   0      2
152      0.6      1   0      3
219      0.0      2   2      3
63       0.0      1   0      1

[92 rows x 13 columns]

In [33]:
print(y_test)

[0 0 0 1 1 0 0 1 0 1 0 0 0 0 0 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0
 1 0 1 0 1 0 0 1 0 1 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 1 1
 0 1 1 1 0 1 1 1 1 0 1 0 1 1 1 1 0 1]

In [34]:
print(X_train)

     age   sex   cp   trestbps   chol   fbs   restecg   thalach  exang  \
37    54     1    2        150    232     0         0       165      0
249   69     1    2        140    254     0         0       146      0
56    48     1    0        122    222     0         0       186      0
261   52     1    0        112    230     0         1       160      0
101   59     1    3        178    270     0         0       145      0
180   55     1    0        132    353     0         1       132      1
125   34     0    1        118    210     0         1       192      0
239   35     1    0        126    282     0         0       156      1
80    41     1    2        112    250     0         1       179      0
98    43     1    2        130    315     0         1       162      0
131   49     0    1        134    271     0         1       162      0
153   66     0    2        146    278     0         0       152      0
40    51     0    2        140    308     0         0       142      0
185   44     1    0        112    290     0         0       153      0
201   60     1    0        125    258     0         0       141      1
251   43     1    0        132    247     1         0       143      1
119   46     0    0        138    243     0         0       152      1
38    65     0    2        155    269     0         1       148      0
262   53     1    0        123    282     0         1        95      1
158   58     1    1        125    220     0         1       144      0
198   62     1    0        120    267     0         1        99      1
168   63     1    0        130    254     0         0       147      0
5     57     1    0        140    192     0         1       148      0
19    69     0    3        140    239     0         1       151      0
218   65     1    0        135    254     0         0       127      0
192   54     1    0        120    188     0         1       113      0
241   59     0    0        174    249     0         1       143      1
151   71     0    0        112    149     0         1       125      0
213   61     0    0        145    307     0         0       146      1
171   48     1    1        110    229     0         1       168      0
..   ...   ...  ...        ...    ...   ...       ...       ...    ...
76    51     1    2        125    245     1         0       166      0
234   70     1    0        130    322     0         0       109      0
237   60     1    0        140    293     0         0       170      0
105   68     0    2        120    211     0         0       115      0
89    58     0    0        100    248     0         0       122      0
66    51     1    2        100    222     0         1       143      1
288   57     1    0        110    335     0         1       143      1
48    53     0    2        128    216     0         0       115      0
189   41     1    0        110    172     0         0       158      0
104   50     1    2        129    196     0         1       163      0
4     57     0    0        120    354     0         1       163      1
123   54     0    2        108    267     0         0       167      0
75    55     0    1        135    250     0         0       161      0
120   64     0    0        130    303     0         1       122      0
274   47     1    0        110    275     0         0       118      1
94    45     0    1        112    160     0         1       138      0
169   53     1    0        140    203     1         0       155      1
287   57     1    1        154    232     0         0       164      0
102   63     0    1        140    195     0         1       179      0
138   57     1    0        110    201     0         1       126      1
263   63     0    0        108    269     0         1       169      1
235   51     1    0        140    299     0         1       173      1
187   54     1    0        124    266     0         0       109      1
122   41     0    2        112    268     0         0       172      1
96    62     0    0        140    394     0         0       157      0
223   56     0    0        200    288     1         0       133      1
17    66     0    3        150    226     0         1       114      0
78    52     1    1        128    205     1         1       184      0
269   56     1    0        130    283     1         0       103      1
147   60     0    3        150    240     0         1       171      0

     oldpeak  slope  ca   thal
37       1.6      2   0      3
249      2.0      1   3      3
56       0.0      2   0      2
261      0.0      2   1      2
101      4.2      0   0      3
180      1.2      1   1      3
125      0.7      2   0      2
239      0.0      2   0      3
80       0.0      2   0      2
98       1.9      2   1      2
131      0.0      1   0      2
153      0.0      1   1      2
40       1.5      2   1      2
185      0.0      2   1      2
201      2.8      1   1      3
251      0.1      1   4      3
119      0.0      1   0      2
38       0.8      2   0      2
262      2.0      1   2      3
158      0.4      1   4      3
198      1.8      1   2      3
168      1.4      1   1      3
5        0.4      1   0      1
19       1.8      2   2      2
218      2.8      1   1      3
192      1.4      1   1      3
241      0.0      1   0      2
151      1.6      1   0      2
213      1.0      1   0      3
171      1.0      0   0      3
..       ...    ...  ..    ...
76       2.4      1   0      2
234      2.4      1   3      2
237      1.2      1   2      3
105      1.5      1   0      2
89       1.0      1   0      2
66       1.2      1   0      2
288      3.0      1   1      3
48       0.0      2   0      0
189      0.0      2   0      3
104      0.0      2   0      2
4        0.6      2   0      2
123      0.0      2   0      2
75       1.4      1   0      2
120      2.0      1   2      2
274      1.0      1   1      2
94       0.0      1   0      2
169      3.1      0   0      3
287      0.0      2   1      2
102      0.0      2   2      2
138      1.5      1   0      1
263      1.8      1   2      2
235      1.6      2   0      3
187      2.2      1   1      3
122      0.0      2   0      2
96       1.2      1   0      2
223      4.0      0   2      3
17       2.6      0   0      2
78       0.0      2   0      2
269      1.6      0   0      3
147      0.9      2   0      2

[212 rows x 13 columns]

In [35]:
print(y_train)

[1 0 1 0 1 0 1 0 1 1 1 1 1 0 0 0 1 1 0 1 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 1
 1 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 1 0
 1 0 0 1 1 0 0 1 1 0 0 0 1 1 1 0 0 1 1 1 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 1 1
 1 0 0 1 1 1 1 1 0 1 0 1 1 1 0 1 1 0 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 0
 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0 0 0 1 1 1 0 0 1 0 0 1 0 0
 1 1 1 0 1 0 1 1 1 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 1 0 1]